Redirect 301 /aboutthekarmapa.html http://www.karmapafoundation.eu/karmapa.html?q=ATK
Redirect 301 /aboutthekarmapamenu.html http://www.karmapafoundation.eu/karmapas.html?q=ATK
Redirect 301 /aboutTHEPREVIOUSKARMAPAS.html http://www.karmapafoundation.eu/previous-karmapas.html?q=ATK
Redirect 301 /about17karmapa.html http://www.karmapafoundation.eu/17th-karmapa.html?q=ATK
Redirect 301 /kfeboardoftrustees.html http://www.karmapafoundation.eu/kfe-board-of-trustees.html?q=K
Redirect 301 /kfeobjectives.html http://www.karmapafoundation.eu/kfe-objectives.html?q=K
Redirect 301 /kfecontactdetails.html http://www.karmapafoundation.eu/kfe-contact-details.html?q=K
Redirect 301 /kfeacknowledgements.html http://www.karmapafoundation.eu/kfe-acknowledgements.html?q=K
Redirect 301 /kfecopyrights.html http://www.karmapafoundation.eu/kfe-copyrights.html?q=K
Redirect 301 /donation.html http://www.karmapafoundation.eu/karmapa-donations.html?q=D
Redirect 301 /activities.html http://www.karmapafoundation.eu/karmapa-activities.html?q=A
Redirect 301 /activitiesvisits.html http://www.karmapafoundation.eu/karmapa-activities-visits.html?q=A
Redirect 301 /activitiesteachings.html http://www.karmapafoundation.eu/karmapa-activities-teachings.html?q=A
Redirect 301 /activitiesprojects.html http://www.karmapafoundation.eu/karmapa-activities-projects.html?q=A
Redirect 301 /webcasts.html http://www.karmapafoundation.eu/karmapa-videos-webcasts.html?q=W
Redirect 301 /links.html http://www.karmapafoundation.eu/kagyu-links.html?q=L
Redirect 301 /linkscentres.html http://www.karmapafoundation.eu/kagyu-links-centres-europe.html?q=L
Redirect 301 /linksother.html http://www.karmapafoundation.eu/kagyu-links-other.html?q=L
Redirect 301 /comunity.html http://www.karmapafoundation.eu/kfe-community.html?q=C
Redirect 301 /community.html http://www.karmapafoundation.eu/kfe-community.html?q=C